In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

Airport Data (Airports.csv)
Data Source: Our Airports https://ourairports.com/help/data-dictionary.html

In [2]:
airport = pd.read_csv('airports_data.csv')

In [3]:
airport.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

#### View column data types

In [4]:
airport.dtypes

id                     int64
ident                 object
type                  object
name                  object
latitude_deg         float64
longitude_deg        float64
elevation_ft         float64
continent             object
iso_country           object
iso_region            object
municipality          object
scheduled_service     object
gps_code              object
iata_code             object
local_code            object
home_link             object
wikipedia_link        object
keywords              object
dtype: object

## Preprocessing the dataset

In [5]:
# Get the shape of dataframe
airport.shape

(74088, 18)

In [6]:
#Are there any duplicates?
dups = airport.duplicated()

print('Number of duplicate rows = %d' % (dups.sum()))

Number of duplicate rows = 0

#### There are no duplicates.

In [7]:
#Display and check the null/missing values
print(airport.isnull().sum())  # or axis=0 for columns

id                       0
ident                    0
type                     0
name                     0
latitude_deg             0
longitude_deg            0
elevation_ft         14156
continent            35816
iso_country            259
iso_region               0
municipality          5020
scheduled_service        0
gps_code             33197
iata_code            65220
local_code           42052
home_link            70578
wikipedia_link       63374
keywords             57826
dtype: int64

In [8]:
# percentage of missing values
(airport.isnull().sum()/airport.shape[0])*100

id                    0.000000
ident                 0.000000
type                  0.000000
name                  0.000000
latitude_deg          0.000000
longitude_deg         0.000000
elevation_ft         19.107008
continent            48.342512
iso_country           0.349584
iso_region            0.000000
municipality          6.775726
scheduled_service     0.000000
gps_code             44.807526
iata_code            88.030450
local_code           56.759529
home_link            95.262391
wikipedia_link       85.538819
keywords             78.050427
dtype: float64

#### No duplicates, however there are 9 columns with missing values. Five (5) of those columns have more than 50% of missing values.

#### Will remove 5 columns that are irrelevant. Even though we're using ident column for airport codes, I will keep the gps_code, iata_code and local_code.

In [9]:
#Remove irrelevant columns
airport.drop(columns=['continent','home_link', 'wikipedia_link', 'keywords', 'scheduled_service'], axis=1, inplace=True)

In [10]:
# describe the dataset, not including column id since it's the unique identifier.
airport.describe(include = 'float')

       latitude_deg  longitude_deg  elevation_ft
count  74088.000000   74088.000000  59932.000000
mean      25.772630     -28.669646   1299.836465
std       26.209685      86.243148   1673.524783
min      -90.000000    -179.876999  -1266.000000
25%       12.465287     -94.137178    203.000000
50%       35.153950     -69.750000    730.000000
75%       42.690974      24.393038   1608.000000
max       82.750000     179.975700  17372.000000

In [11]:
airport

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,iso_region,municipality,gps_code,iata_code,local_code
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,US,US-PA,Bensalem,00A,NaN,00A
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,US,US-KS,Leoti,00AA,NaN,00AA
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,US,US-AK,Anchor Point,00AK,NaN,00AK
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,US,US-AL,Harvest,00AL,NaN,00AL
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,US,US-AR,Newport,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74083,46378,ZZ-0001,heliport,Sealand Helipad,51.894444,1.482500,40.0,GB,GB-ENG,Sealand,NaN,NaN,NaN
74084,307326,ZZ-0002,small_airport,Glorioso Islands Airstrip,-11.584278,47.296389,11.0,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN
74085,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,US,US-TX,Blum,87TX,NaN,87TX
74086,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,CA,CA-YT,(Old) Scandium City,NaN,NaN,NaN
74087,313629,ZZZZ,small_airport,Satsuma Iōjima Airport,30.784722,130.270556,338.0,JP,JP-46,Mishima,RJX7,NaN,RJX7

#### Based on the statistics description, there are no significant outliers. All values within each column are of appropiate value. Setting scope of the project is all airports in the United States.

In [12]:
# Return all US airports 
airport_us = airport[airport['iso_country'] == 'US']

#### Create a column 'state'

In [13]:
#create column with state abbr 
airport_us['state'] = airport.iso_region.str.slice(3,5)

In [14]:
#value_counts
airport_us['type'].value_counts()

small_airport     14819
heliport           7731
closed             5607
medium_airport      806
seaplane_base       621
large_airport        66
balloonport          30
Name: type, dtype: int64

#### There are 5 types of airport within this column. Based on the description of categorical data, I will convert this Object data type value into categorical type. https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

#### View the data dictionary to see definition of airport type.

In [15]:
# Taking care of categorical features (label encoding or one hot encoding)
#Change data type from Object to Category
airport_us['type'] = pd.Categorical(airport_us.type)

In [16]:
airport_us.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,iso_region,municipality,gps_code,iata_code,local_code,state
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,US,US-PA,Bensalem,00A,NaN,00A,PA
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,US,US-KS,Leoti,00AA,NaN,00AA,KS
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,US,US-AK,Anchor Point,00AK,NaN,00AK,AK
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,US,US-AL,Harvest,00AL,NaN,00AL,AL
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,US,US-AR,Newport,NaN,NaN,NaN,AR

In [17]:
# Final dataframe shape
airport_us.shape

(29680, 14)

#### Update csv file, rename airport_clean.csv

In [18]:
airport_us.dtypes

id                  int64
ident              object
type             category
name               object
latitude_deg      float64
longitude_deg     float64
elevation_ft      float64
iso_country        object
iso_region         object
municipality       object
gps_code           object
iata_code          object
local_code         object
state              object
dtype: object

In [19]:
#print to_csv, do not include index numbered column
airport_us.to_csv('airports_data_clean.csv', index = False)